<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.40">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.7.2"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.7.2">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.1.1"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.83">
    <script>def spaceName = &quot;%SPACE%&quot;
pipeline {
   agent any

   stages {
        stage(&apos;Cleanup&apos;) {
            steps {
                sh &quot;&quot;&quot;
                rm -rf ./*
                &quot;&quot;&quot;
            }
        }
        stage(&apos;Checkout&apos;) {
            steps {
                dir(&quot;UI&quot;) {
                    git &apos;https://QualiLabs@dev.azure.com/QualiLabs/Promotions%20Manager/_git/promotions-manager-ui&apos;
                }
                dir(&quot;API&quot;) {
                    git &apos;https://QualiLabs@dev.azure.com/QualiLabs/Promotions%20Manager/_git/promotions-manager-api&apos;
                }
                dir(&quot;Testing&quot;) {
                    git &apos;https://QualiLabs@dev.azure.com/QualiLabs/Promotions%20Manager/_git/Testing&apos;
                }
            }
        }
        stage(&apos;Build&apos;) {
            steps {
                dir(&quot;UI&quot;) {
                    sh &quot;&quot;&quot;
                    npm install
                    npm install --only=dev redux-immutable-state-invariant enzyme@3.8.0 enzyme-adapter-react-16@1.7.1 chai expect jsdom mocha react-addons-test-utils sinon
                    export REACT_APP_BUILD_NUMBER=$BUILD_NUMBER &amp;&amp; npm run build
                    &quot;&quot;&quot;
                }
                dir(&quot;API&quot;) {
                    sh &quot;&quot;&quot;
                    npm install
                    npm run test:ci
                    &quot;&quot;&quot;
                }
            }
        }
        stage(&apos;Publish artifacts&apos;) {
            steps {
                dir(&quot;UI&quot;) {
                    sh &quot;&quot;&quot;
                    mkdir drop
                    cd build
                    tar -czvf ../drop/promotions-manager-ui.${BUILD_NUMBER}.tar.gz *
                    cd ..
                    tar -czvf promotions-manager-ui.master.tar.gz drop/promotions-manager-ui.${BUILD_NUMBER}.tar.gz
                    aws s3 cp promotions-manager-ui.master.tar.gz s3://%BUCKET_NAME%/promotions-manager/latest/
                    &quot;&quot;&quot;
                }
                dir(&quot;API&quot;) {
                    sh &quot;&quot;&quot;
                    rm -r .git &amp; rm .gitignore &amp; rm azure-pipelines.yml &amp; rm -r test-output &amp; rm -r test
                    mkdir drop
                    tar -czvf drop/promotions-manager-api.${BUILD_NUMBER}.tar.gz --exclude=./drop .
                    tar -czvf promotions-manager-api.master.tar.gz drop/promotions-manager-api.${BUILD_NUMBER}.tar.gz
                    aws s3 cp promotions-manager-api.master.tar.gz s3://%BUCKET_NAME%/promotions-manager/latest/
                    &quot;&quot;&quot;
                }
                dir(&quot;Testing&quot;) {
                    sh &quot;&quot;&quot;
                    cd data/test-db/
                    mkdir archive
                    tar -czvf archive/test-db.tar.gz --exclude=./archive .
                    aws s3 cp archive/test-db.tar.gz s3://%BUCKET_NAME%/promotions-manager/latest/
                    &quot;&quot;&quot;
                }
            }
        }
        stage(&apos;Integration Tests&apos;) {
            steps {                
                script {

                    def newSandboxData = null

                    try {
                        //Start Sandbox
                        //TODO replace latest with current artifact from Build stage 
                        newSandboxData = colony.blueprint(
                            spaceName,                           // space name
                            &apos;promotions-manager-all-aws&apos;,               // blueprint name
                            &apos;pm-test-sandbox-&apos; + env.BUILD_NUMBER,  // sandbox name
                            &apos;PT2H&apos;,                                 // sandbox duration according to ISO 8601 duration
                            [&apos;promotions-manager-ui&apos;: &apos;promotions-manager/latest/promotions-manager-ui.master.tar.gz&apos;,        // artifacts
                               &apos;promotions-manager-api&apos;: &apos;promotions-manager/latest/promotions-manager-api.master.tar.gz&apos;, 
                               &apos;mongodb&apos;: &apos;promotions-manager/latest/test-db.tar.gz&apos;],    
                            [&apos;PORT&apos;: &apos;3000&apos;, &apos;API_PORT&apos;: &apos;3001&apos;, &apos;RELEASE_NUMBER&apos;: &apos;none&apos;, &apos;API_BUILD_NUMBER&apos;: env.BUILD_NUMBER, &apos;AWS_INSTANCE_TYPE&apos;: &apos;t3.large&apos;],       // inputs
                            30)                                                                                                         // timeout
                            .startSandbox()

                        def endpoint = getEndpoint(newSandboxData)

                        echo &apos;Running integration tests against endpoint: &apos; + endpoint

                        // TBD - run tests
                    }
                    catch(Exception e) {
                        if (newSandboxData != null) {
                            colony.endSandbox(spaceName, newSandboxData.id)
                        }
                        print e.getClass().getName()
                        print e.message
                        throw e
                    }
                    finally {
                        if (newSandboxData != null) {
                            colony.endSandbox(spaceName, newSandboxData.id)
                        }
                    }
                }                
            }
        }
        stage(&apos;UI Tests&apos;) {
            steps {                
                echo &apos;Running UI tests....&apos;

                echo &apos;Done&apos;
            }
        }
        stage(&apos;Load Tests&apos;) {
            steps {
                echo &apos;Running load tests....&apos;

                echo &apos;Done&apos;
            }
        }
        stage(&apos;Security Tests&apos;) {
            steps {
                echo &apos;Running security tests....&apos;

                echo &apos;Done&apos;
            }
        }
        stage(&apos;Backwards Compatibility Tests&apos;) {
            steps {
                echo &apos;Running tests....&apos;

                echo &apos;Done&apos;
            }
        }
   }
}
// get the first application shortcut for the UI app
def getEndpoint(def newSandboxData) {
    
    def endpoint = &apos;&apos;

    for (app in newSandboxData.applications) {
        if (app.name == &apos;promotions-manager-ui&apos;) {
            endpoint = app.shortcuts[0]
            break
        }
    }

    if (endpoint == &apos;&apos;) {
        throw new Exception(&apos;couldnt get application endpoint from sandbox details&apos;)
    }

    return endpoint
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
